{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="food,masterclass" />
        <meta name="keywords" content="food,masterclass" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="#" class="navbar-brand">FoodApp</a>
            <div class="navbar">
                <a href="{% url 'food:create_item' %}" class="nav-item nav-link">Add Item</a>
                <a href="#" class="nav-item nav-link">View Item</a>
                <a href="#" class="nav-item nav-link">Delete Item</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                {% endif %}
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
