{% extends "base.html" %}
{% block title %}
    Todo-App
{% endblock title %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <br />
    <h4>To-Do List</h4>
    {% if tasks %}
        <table class="table table-bordered">
            {% for task in tasks %}
                {% if task.completed %}
                    <tr class="table-secondary">
                        <td class="striker">
                            <a href={% url 'edit' task.id %}>{{ task.item }}</a>
                        </td>
                        <td>
                            <center><a href="{% url 'uncross' task.id %}">Uncross</a></center>
                        </td>
                        <td>
                            <center> <a href="{% url 'delete' task.id %}">Delete</a></center>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <a href={% url 'edit' task.id %}>{{ task.item }}</a>
                        </td>
                        <td>
                            <center><a href="{% url 'cross_off' task.id %}">Cross Off</a></center>
                        </td>
                        <td>
                            <center> <a href="{% url 'delete' task.id %}">Delete</a></center>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}
